@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

.skills-title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  font-size: 3rem;
  line-height: 1;
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.skill-section {
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 2rem 0;
}

.skill {
  position: relative;
}

.skill-modal-button {
  border: none;
  background-color: transparent;
}

.skill img {
  width: 20rem;
  border-radius: 1rem;
  transition: width ease-out 100ms;
}

.skill img:hover {
  width: 19.1rem;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  box-shadow: 05px 5px 5px 3px rgba(0,0,0,0.75);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  font-family: 'Outfit', sans-serif;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 6px 4px -4px rgba(0,0,0,0.35);
}

.modal-header .title {
  font-size: 2rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  font-size: 1.5rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 1380px) {
  .skill-section {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
